# Testing Environment
TEST/*
elis/*/__pycache__/*

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc
.vscode/*

# Build output (temporary)
#packages/
#packages.zip

# Virtual environment
.venv/

# Runtime logs
logs/

# Mac
.DS_Store
xcode/